body{
    width: 100%;
    font-family: 'Athiti', sans-serif;
    font-size: 18px;
    text-align: justify;
    margin: 0 auto;
       
}

h1 h2 h4{
    font-family: 'Merienda', cursive;
    
    
}

video{
    margin: 3% 10%;
    
}
h2{
    text-align: center;
    margin: 50px 0 50px;
}
main{
    margin: 50px;
}


/*Menu */
.header{
    display: flex;
    align-items: center; 
    justify-content: center;
    box-shadow: inset 1px 35px 20px -30px;
    
}


 #header{
    display: flex; 
 }

nav{
    display: flex;
    justify-content: space-evenly;
}

#logo{
    width: 10%;
}

.fa-star{
    color: #950000;
    font-size: 15px;
    padding: 5px;
}


nav a {
    color: black;
    text-decoration: none;
    background-color:#ebe3db;
    margin: 5px;
    padding: 10px;
    
}

nav a:hover{
    background-color: #4c4343;
    color: #fff;
}

/*image en carousel*/

.slider {
    width:100%;
    margin: 0 auto;
  }
  
  .slider img {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    border-radius: 5px;
    /* opacity: 0.9; */
  }

  



/*welcome to freshly Restaurant*/

#location{
    text-align: justify;
    margin: 0 10px 0  0;
    
}

.location{
    width: 400px;
    float: right;
    padding: 0 20px;
}

/*Spcial menus*/

#menu {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    /* align-items: center; */
}

#menu h4{
    text-align: center;
}

li{
    list-style: none;
}


.grey {
    background-color: #ebe3db;
    padding: 20px;
    /* margin: 12px; */
    margin: 10px;
}

.grey p{
    text-align: justify;
    border-bottom: 1px dashed black;
    /* padding:0;
    margin: 5px; */
}
/*Effet survole sur le menu*/

.content .lien { 
    width: 100%;
    height: 100%;
      display: inline-block; 
      position: relative; 
      text-decoration:none; 
}

.content .lien img { 
    border: none;
    width: 100%;
    height: 100%;
    }

.content .lien span { 
    position: absolute;
    top: 25px;
     left: 25px; 
     display: none;
    }
.content .lien:hover span { 
    display: block;
    border: 2px solid #fff;

 }

/* .content span.title {
    top: 200px;
    color: #fff;
     font-weight: bold; 
     font-size: 10px;
      text-align: center; 
      z-index:1;  
    } */

    .content span.title {
        top: 30px;
        right: 40px;
        color: #fff;
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        z-index: 1;
        /* border: 2px solid #fff; */
    }


.content span.bg { top: 0;
     left:0;
     width: 100%;
     height: 100%;
    background-color: #4c4343;
    opacity: 0.7;
    }



/*footer*/

.case{
    background-color: #4c4343;
    text-align: center;
    color:#fff;
     /* background-color: #333; */
     transition: all 2s ease-out;
}

.case a{
    color: #fff;
    text-decoration: none;
    padding-left: 10px;
}

.case:hover,
.case:focus {

  background-color: #950000;
}

footer{
    background-image: url('footer-bg.jpg');
}

#footer{
    display: flex;
    justify-content: space-around;
    color: #fff;
    text-align: center;
}

#footer h4 {
    border-bottom: 2px dotted rgb(236, 229, 229);
    padding: 8px 37px;
}


.reseaux{
    padding: 21px;
    font-size: 20px;
}

/* Media pour phone*/

@media screen and (max-width: 380px){
    body {
        
        font-family: 'Athiti', sans-serif;
        font-size: 18px;
        text-align: justify;
        margin: 0 auto;
    }

    h2 {
        text-align: center;
        margin: 0 auto;
        padding: 2px;
    }

    nav {
        background-color: #ebe3db;
        display: flex;
        width: 100%;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    nav a {
    border: 1px solid #4c4343;
    border-top: #4c4343;
    width: 100%;
    text-align: center;
    }
    .slider {
        width: 100%;
        margin: 0px auto;
    }

    .fa-star {
        color: #950000;
        font-size: 7px;
        padding: 6px;
    }

    #footer {
        display: flex;
        justify-content: space-around;
        color: #fff;
        text-align: center;
        flex-direction: column;
        margin: 28px;
    }
    .reseaux {
        padding: 21px;
        font-size: 13px;
    }

   
}



/* Media pour tablette*/

@media screen and (max-width: 780px){
body {
        
    font-family: 'Athiti', sans-serif;
    font-size: 9px;
    text-align: justify;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#logo {
    width: 24%;

}

nav {
    background-color: #ebe3db;
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

nav a {
    color: black;
    text-decoration: none;
    background-color: #ebe3db;
    margin: 0px;
    padding: 10px;
}

#location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.location {
    width: 100%;
}

#menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
        
    
}


